# IntelliJ project files.
/.idea/
*.iml

# macOS droppings.
.DS_Store

# Python bytecode.
__pycache__/
*.py[cod]

# Gradle project files.
.gradle/
build/

# Eclipse project files.
.project
.classpath
.settings
.cache
bin/
